
@-webkit-keyframes glowing {
  0% { background-color: #00b200; -webkit-box-shadow: 0 0 3px #00b200; }
  50% { background-color: #00ff00; -webkit-box-shadow: 0 0 40px #00ff00; }
  100% { background-color: #00b200; -webkit-box-shadow: 0 0 3px #00b200; }
}

@-moz-keyframes glowing {
  0% { background-color: #00b200; -moz-box-shadow: 0 0 3px #00b200; }
  50% { background-color: #00ff00; -moz-box-shadow: 0 0 40px #00ff00; }
  100% { background-color: #00b200; -moz-box-shadow: 0 0 3px #00b200; }
}

@-o-keyframes glowing {
  0% { background-color: #00b200; box-shadow: 0 0 3px #00b200; }
  50% { background-color: #00ff00; box-shadow: 0 0 40px #00ff00; }
  100% { background-color: #00b200; box-shadow: 0 0 3px #00b200; }
}

@keyframes glowing {
  0% { background-color: #00b200; box-shadow: 0 0 3px #00b200; }
  50% { background-color: #00ff00; box-shadow: 0 0 40px #00ff00; }
  100% { background-color: #00b200; box-shadow: 0 0 3px #00b200; }
}